/* admin/Index.php */
.admin{
    width: 100%;
    height: 100%;
    background-color: #131212;
    text-decoration: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
}

.headeradm{
    background-color: black;
    height: 100px;
}

.headeradm h1{
    text-align: center;
    line-height: 2.5;
}

.linksadm{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*Botões*/
.linksadm .link{
    top: 50%;
    left: 50%;
    width: 175px;
    height: 60px;
    text-align: center;
    line-height: 3.5;
    margin: 20px auto;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.linksadm a {
    background: #000;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}
  
.linksadm a:hover {
    background: #FFFF00;
    color: #272727;
    border-radius: 5px;
}



/* admin/Inserir.php */
.inseregs{
    width: 100%;
    height: 1100px;
    background-color: #131212;
    text-decoration: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
}

.headerinserg{
    background-color: black;
    height: 100px;
}

.headerinserg h1{
    text-align: center;
    line-height: 2.5;
}

.conteudoinserg{
    margin: 0px 100px 0px 100px;
    padding: 0px 300px 0px 300px;
}

/* Formulário de Cadastro*/
.divcadas{
    margin: 50px 0px 50px 0px;
}

.formcadas {
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.formcadas p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}
  
.formcadas .user-box {
    position: relative;
}
  
.formcadas .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFFF00;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
  
.formcadas .user-box input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.formcadas .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    transition: .5s;
}
  
.formcadas .user-box input:focus ~ label,
.formcadas .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}
  
.formcadas form button[type=submit] {
    background: #000;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}
  
.formcadas button[type=submit]:hover {
    background: #FFFF00;
    color: #272727;
    border-radius: 5px;
}
  
.formcadas button[type=submit] span {
    position: absolute;
    display: block;
}
  
.formcadas button[type=submit] span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
}
  
.formcadas button[type=submit] span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
}
  
.formcadas button[type=submit] span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
}
  
.formcadas button[type=submit] span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
}
  
.formcadas p:last-child {
    color: #aaa;
    font-size: 14px;
}
  
.formcadas button[type=submit].a2 {
    color: #fff;
    text-decoration: none;
}
  
.formcadas button[type=submit].a2:hover {
    background: transparent;
    color: #FFFF00;
    border-radius: 5px;
}


.conteudoinserg a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Botão*/
.linkvoltar {
    top: 50%;
    left: 50%;
    width: 175px;
    height: 60px;
    text-align: center;
    line-height: 3.5;
    margin: 20px auto;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.linkvoltar {
    background: #000;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}
  
.linkvoltar:hover {
    background: #FFFF00;
    color: #272727;
    border-radius: 5px;
}




/* admin/Listar.php */
.listregs{
    width: 100%;
    height: 100%;
    background-color: #131212;
    text-decoration: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
}

.headerlistregs{
    background-color: black;
    height: 100px;
}

.headerlistregs h1{
    text-align: center;
    line-height: 2.5;
}


.divtabhor{
    margin: 50px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabhor{
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(-68deg, #000 , #000);
}

.tabhor td, th{
    font-weight: unset;
    padding-right: 10px;
}

.tabhor .column100 {
    width: 200px;
    padding-left: 25px;
}

.tabhor .column100.column1 {
    width: 25px;
    padding-left: 42px;
}

.tabhor .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
}

.tabhor .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
}

/*Estilização da Tabela*/
.tabhor td{
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}

.tabhor .column100.column1 {
    font-weight: bold;
}

.tabhor th {
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: yellow;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #000;
}

.tabhor .row100:hover td {
    background-color: rgba(255,255,255,0.1);
}

.tabhor .hov-column-ver6 {
    background-color: rgba(255,255,255,0.1);
}

.tabhor .row100 td:hover {
    background-color: rgba(255,255,255,0.2);
}


/*Botão*/
.linkvoltar {
    top: 50%;
    left: 50%;
    width: 175px;
    height: 60px;
    text-align: center;
    line-height: 3.5;
    margin: 20px auto;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.linkvoltar {
    background: #000;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}
  
.linkvoltar:hover {
    background: #FFFF00;
    color: #272727;
    border-radius: 5px;
}


/* Conteudo */
.conteudolistrg{
    margin: 0px 100px 0px 100px;
    display: flex;
    justify-content: space-evenly;
}